.vscode/**
.vscode-test/**
src/**
.gitignore
.editorconfig
.github/**
tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
coverage/**
*.vsix
.DS_Store
Thumbs.db
CONTRIBUTING.md
SECURITY.md
Makefile
